<p id="notice"><%= notice %></p>

<h1>CHECK LIST WARRANTY</h1>

<table>
  <thead>
    <tr>
      <th>Unit</th>
      <th>Plataform</th>
      <th>Photo recived</th>
      <th>Scanning</th>
      <th>Initial sheet update</th>
      <th>Performance test</th>
      <th>Final log sheet update</th>
      <th>QRD</th>
      <th>AB internal control</th>
      <th>Teardown format</th>
      <th>EWR</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.Unit %></td>
        <td><%= list.Plataform %></td>
        <td><%= list.PhotoRecived %></td>
        <td><%= list.Scanning %></td>
        <td><%= list.InitialSheetUpdate %></td>
        <td><%= list.PerformanceTest %></td>
        <td><%= list.FinalLogSheetUpdate %></td>
        <td><%= list.QRD %></td>
        <td><%= list.ABInternalControl %></td>
        <td><%= list.TearDownFormat %></td>
        <td><%= list.EWR %></td>
        <td><%= link_to 'Mostrar', list %></td>
        <td><%= link_to 'Editar', edit_list_path(list) %></td>
        <td><%= link_to 'Borrar', list, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Registro', new_list_path %>
