<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @list.Unit %>
</p>

<p>
  <strong>Plataform:</strong>
  <%= @list.Plataform %>
</p>

<p>
  <strong>Photorecived:</strong>
  <%= @list.PhotoRecived %>
</p>

<p>
  <strong>Scanning:</strong>
  <%= @list.Scanning %>
</p>

<p>
  <strong>Initialsheetupdate:</strong>
  <%= @list.InitialSheetUpdate %>
</p>

<p>
  <strong>Performancetest:</strong>
  <%= @list.PerformanceTest %>
</p>

<p>
  <strong>Finallogsheetupdate:</strong>
  <%= @list.FinalLogSheetUpdate %>
</p>

<p>
  <strong>Qrd:</strong>
  <%= @list.QRD %>
</p>

<p>
  <strong>Abinternalcontrol:</strong>
  <%= @list.ABInternalControl %>
</p>

<p>
  <strong>Teardownformat:</strong>
  <%= @list.TearDownFormat %>
</p>

<p>
  <strong>Ewr:</strong>
  <%= @list.EWR %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
